@import '../../../../../../../../assets/scss/_variable';
@import '../../../../../../../../assets/scss/_mixin';

.traiding-form-page {
  background: linear-gradient($orange-color 0%,$orange-color 0%,$orange-color 26%,$orange-color 26%,$primary-color 26%,$primary-color 26%,$primary-color 100%,$primary-color 100%);
}

.form-traiding {
    border-radius: 5px;
    background-color: $white;
    display: block;
    min-height: 540px;
    margin-bottom: 3em; 
    margin-top: 30px;  
}

.container-traiding{
  width: 100%;
  margin: 0px auto;
}

@media (max-width: 576px) {
  .container-traiding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 576px) {
    .container-traiding {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (min-width: 768px) {
    .container-traiding {
      max-width: 720px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (min-width: 992px) {
    .container-traiding {
      max-width: 960px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (min-width: 1200px) {
    .container-traiding {
      max-width: 1140px;
    }
  }