<div class="traiding-form-page">
    <div class="container-traiding">
        <app-breadcrumb></app-breadcrumb>
        <div class="form-traiding">
            <app-traiding-crud></app-traiding-crud>
        </div>
    </div>
</div>
