<div class="navbar-box">
    <div class="left-navbar">
        <div class="btns-link-nav">
            <span class="btn-res-sidebar" (click)="coreService.sidebarShow()">
                <i class="icon-bars"></i>
            </span>
            <a class="btn btn-blue"> {{"ADDNEW" | translate}}</a>
            <div class="drop-down-box drop-down-menu drop-down-left" appDropDown>
                <a class="drop-down-btn">
                    {{"MEGAMENU" | translate}}
                </a>
                <ul>
                    <li>
                        <a>
                            {{"LINKMENUONE" | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                            {{"LINKMENUTWO" | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                            {{"LINKMENUTHREE" | translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right-navbar">
        <ul>
            <li class="user-navbar" appDropDown>
                <a class="acc-btn">
                    {{uniqueUserId}}
                    <span>
                        <i class="icon-user"></i>
                    </span>
                </a>
                <ul>
                    <li>
                        <a routerLink="account">{{'PROFILE' | translate}}</a>
                    </li>
                    <li>
                        <a (click)="logout()">{{'LOGOUT' | translate}}</a>
                    </li>
                </ul>
            </li>
            <li class="navbar-icon-box">
                <div class="drop-down-box" appDropDown>
                    <a class="show-lang" >
                        <img [src]="imgPath" alt="{{langText}}"/>
                    </a>
                    <ul>
                        <!-- <li class="lang-item" (click)="switchLanguage('fa')">
                            <img src="./assets/img/iran.png" alt="فارسی"/>
                            <span>فارسی</span>
                        </li>
                        <li class="lang-item" (click)="switchLanguage('en')">
                            <img src="./assets/img/us-flag.svg" alt="English"/>
                            <span>English</span>
                        </li> -->
                        <li class="lang-item" *ngFor="let langItem of languages" (click)="switchLanguage(langItem.slug)">
                            <img [src]="langItem.image" [alt]="langItem.text"/>
                            <span>{{langItem.text}}</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navbar-icon-box">
                <a>
                    <i class="icon-bookmarks"></i>
                </a>
            </li>
            <li class="navbar-icon-box">
                <a>
                    <i class="icon-notification"></i>
                </a>
            </li>
            <li class="navbar-icon-box">
                <a>
                    <i class="icon-search"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
