@import '../../../../assets/scss/_variable';
@import '../../../../assets/scss/_mixin';

.navbar-box{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 24px;
    background: $white;
    position: relative;
    z-index: 99;
    ul{
        padding-left:0;
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        li{
            position: relative;
        }
    }
    > div {
        width: 50%;
    }
    .right-navbar{
        text-align: right;
    }
    .navbar-icon-box{
        width: 48px;
        height: 40px;
        padding-right: 4px;
        padding-left: 4px;
        font-size: 25px;
        color: $icon-sidebar-hover;
        display: flex;
        justify-content: center;
        align-items: center;
        > a {
            display: flex;
            cursor: pointer;
        }
    }
    .user-navbar{
        min-width: 150px;
        min-height: 44px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 4px;
        padding-left: 4px;
        .acc-btn {
            color: rgba($black,0.87);
            cursor: pointer;
            span{
                width: 30px;
                height: 30px;
                background: rgba(202,226,223,0.22);
                display: inline-block;
                text-align: center;
                border-radius: 100%;
                vertical-align: middle;
                margin-left: 5px;
                font-size: 25px;
                color: $icon-sidebar-hover;
            }
        }
        ul{
            background: $white;
            z-index: 9;
            position: absolute;
            min-width: 120px;
            box-shadow: 0 0 5px 0 rgba($black,0.17);
            border-radius: 2px;
            top: 40px;
            margin-top: 0;
            margin-bottom: 0;
            padding-right: 0;
            right: 0;
            min-height: 70px;
            padding:5px 10px;
            display: none;
            li{
                margin-bottom: 5px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 500;
                    color: $black;
                    display: block;
                    text-align: left;
                    height: 25px;
                    line-height: 25px;
                }
            }
        }
    }
    .left-navbar{
        .btns-link-nav{
            display: flex;
            flex-wrap: wrap;
            > *{
                text-transform: uppercase;
            }
        }
    }
    .drop-down-box{
        position: relative;
        ul{
            background: $white;
            position: absolute;
            min-width: 120px;
            box-shadow: 0 0 5px 0 rgba($black,0.17);
            border-radius: 2px;
            top: 40px;
            margin-top: 0;
            margin-bottom: 0;
            padding-right: 0;
            right: 0;
            min-height: 70px;
            padding:5px 10px;
            display: none;
            z-index: 9;
            li.lang-item{
                cursor: pointer;
                margin-bottom: 5px;
                img{
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: middle;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                span{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.57;
                    color: $black;
                    width: calc(100% - 35px);
                    display: inline-block;
                }
            }
        }
        .show-lang{
            position: relative;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            color: $black;
            display: flex;
            cursor: pointer;
            img{
                width: 24px;
                height: 24px;
                display: inline-block;
            }
        }    
    }
    .drop-down-box.show,.user-navbar.show {
        ul{
            display: block;
        }
    }
    .drop-down-btn{
        color:$blue-color;
        padding: 7px 14px 7px 16px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        cursor: pointer;
        display: block;
    }

    .drop-down-menu{
        ul{
            min-width: 170px;
            li{
                margin-bottom: 5px;
            }
            a{
                font-size: 14px;
                display: block;
                text-transform: capitalize;
                padding: 5px;
            }
        }
    }
    
    .drop-down-left{
        ul{
            left: 0;
            right: auto;
        }
        .drop-down-btn{
            &::after{
                content: '';
                position: absolute;
                right: 0;
                top: 14px;
                width: 0px;
                height: 0px;
                display: block;
                border-top: 5px solid $blue-color;
                border-bottom: 5px solid transparent;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
            }
        }
    }

}


span.btn-res-sidebar {
    display: none;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: $blue-color;
    margin-right: 10px;
    font-size: 40px;
    cursor: pointer;
}

@media only screen and (max-width:992px){
    span.btn-res-sidebar {
        display: flex;
    }
}

@media only screen and (max-width:767px){
    .navbar-box{
        > div{
            width: 100%;
        }
    }
    
}