@import '../../../../assets/scss/_variable';
@import '../../../../assets/scss/_mixin';

.sidebar-box {
    text-align: left;
    direction: ltr;
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
    outline: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    width: 280px;
    background:$bg-Sidebar;
    @include transition(0.5s all);
    .sidebar-toolbar {
        align-items: center;
        background: $bg-Sidebar-toolbar;
        display: flex;
        flex-direction: row;
        padding: 10px 25px;
        width: 100%;
        .logo-box {
            display: flex;
            width: 100%;
            img{
                width: 50%;
                display: block;
                margin-right: 15px;
            }
            h2{
                font-size: 16px;
                font-weight: 500;
                color: $white;
            }
        } 
    }
}


/* list menu side bar */
.list-menu-sidebar {
    height: calc(100% - 95.4px);
    overflow-y: auto;
    padding: 25px 0;
    .title-group-sidebar {
        color: $title-group-sidebar;
        font-size: 13px;
        margin-top: 15px;
        padding: 10px 25px 0;
        text-transform: uppercase;
        white-space: nowrap;
    }
    ul{
        padding: 0;
        li{
            a{
                color:$title-group-sidebar;
                padding:10px 25px;
                display: block;
                i{
                    font-size: 24px;
                    width: 24px;
                    height: 24px;
                    vertical-align: middle;
                    margin-right: 10px;
                    color: $icon-sidebar;
                }
            }
            &:hover{
                background:$sidebar-hover-bg;
                a{
                    color: $white;
                    i{
                        color: $icon-sidebar-hover;
                    }
                }
            }
        }
    }
    .dash-title-link{
        a{
            color:$title-group-sidebar;
            padding:10px 25px;
            display: block;
            i{
                font-size: 24px;
                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin-right: 10px;
                color: $icon-sidebar;
            }
        }
        &:hover{
            background:$sidebar-hover-bg;
            a{
                color: $white;
                i{
                    color: $icon-sidebar-hover; 
                }
            }
        }
    }
    
}




@media only screen and (max-width:992px){
    .sidebar-box{
        left:-150%;
    }
    .sidebar-box.active {
        left: 0;
    }

    .btn-hide-sidebar {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 20px;
        cursor: pointer;
        i {
           display: block;
           width: 20px;
           height: 20px;
           position: relative;
           &::after,&::before{
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            position: absolute;
            background: $white;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
           }
           &::after{
            transform: rotate(-45deg);
           }
           &::before{
            transform: rotate(45deg);
           }
       }
    }
}