<div class="sidebar-box" [ngClass]="{'active': coreService.navbarOpen}">
    <div class="sidebar-toolbar">
        <div class="logo-box">
            <img src="./assets/img/logo.png"/>
            <h2 title="PFA">PFA</h2>
        </div>
        <span class="btn-hide-sidebar" (click)="coreService.sidebarHide()">
            <i></i>
        </span>
    </div>
    <div class="list-menu-sidebar">
        <div class="dash-title-link">
            <a routerLink="/">
                <i class="icon-layer"></i>
                {{"DASHBOARD" | translate}}
            </a>
        </div>
        <div class="menu-sidebar">
            <div class="title-group-sidebar">
                {{'APPS' | translate}}
            </div>
            <ul>
                    <li>
                        <a routerLink="/account">
                            <i class="icon-assignment"></i>
                            {{"ALLINONETABLE" | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="icon-contactsupport"></i>
                            {{"HELPCENTER" | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="icon-daterange"></i>
                            {{"CALENDAR" | translate}}
                        </a>
                </li>
                <li>
                    <a>
                        <i class="icon-chat"></i>
                        {{"CHAT" | translate}}
                    </a>
                </li>
                <li>
                    <a>
                        <i class="icon-mail"></i>
                        {{"MAILBOX" | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>