@import '../../../../assets/scss/_variable';

.loading-box{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba($black, 0.16);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
}

$size: 30px;

.spinner {
  position: absolute;
  top: calc(50% - #{$size / 2});
  left: calc(50% - #{$size / 2});
  width: $size;
  height: $size;
  animation: spinner 0.75s linear infinite;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .spinner-inner-1 {
    background: linear-gradient(to right, rgba($orange-color,0) 0%,rgba($orange-color,0) 50%,$orange-color 51%);
  }
  
  .spinner-inner-2 {
    background: linear-gradient(to top, rgba($white,0) 0%,$white 100%);
  }
  
  .spinner-inner-3 {
    $offset: $size * 0.1;
    top: $offset;
    left: $offset;
    width: $size - ($offset * 2);
    height: $size - ($offset * 2);
    background: $white;
  }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}