<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title-page"> {{"TRAIDING" | translate}}</h1>
            <!-- <ul class="bread-crumb">
                <li>
                    <a routerLink=''>
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li>
                    <a>
                        Apps
                    </a>
                </li>
                <li>
                    <a>
                        {{"ALLINONETABLE" | translate}}
                    </a>
                </li>
            </ul> -->
            <breadcrumb #parent>  
                <ul class="bread-crumb">
                    <li>
                        <a routerLink=''>
                            <i class="icon-home"></i>
                        </a>
                    </li>
                  <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                    <li *ngIf="route.terminal">
                      <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                    </li>
                    <li *ngIf="!route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
                  </ng-template>
                </ul>
              </breadcrumb> 
        </div>
    </div>
</div>
