@import '../../../../assets/scss/_variable';
@import '../../../../assets/scss/_mixin';

.bread-crumb {
    display: flex;
    padding-left: 0;
    margin: 0;
    li{
        position: relative;
        padding: 0px 17px;
        color: $white;
        line-height: 30px;
        &::after{
            content: '';
            width: 6px;
            height: 6px;
            background:$light-color;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            border-radius: 100%;
        }
        &:first-child{
            padding-left: 0;
            &::after{
                display: none;
            }
        }        
        a{
          color: $white;
          text-transform: capitalize;
          display: block;
          height: 31px;
          line-height: 31px;
          i{
              font-size: 24px;
          }
        }
    }
}
