<form class="mt-30" [formGroup]="infoRegisterForm" (ngSubmit)="onSubmitRegister($event)">
    <div class="group-input">
        <div class="input-holder"
            [ngClass]="{'err-box': infoRegisterForm.get('firstName').errors &&
            (infoRegisterForm.get('firstName').touched || infoRegisterForm.get('firstName').dirty)}">
            <input type="text" id="firstname" formControlName="firstName">
            <label for="firstname">{{'FORM.FIRSTNAME' | translate}}</label>
            <span class="errors-box" *ngIf="infoRegisterForm.get('firstName').errors &&
                (infoRegisterForm.get('firstName').touched || infoRegisterForm.get('firstName').dirty)">
                <span *ngIf="infoRegisterForm.get('firstName').errors.required" class="err-input">{{'MESSAGE.NAME.REQUIRED' | translate}}</span>
            </span>
        </div>
        <div class="input-holder" [ngClass]="{'err-box': infoRegisterForm.get('lastName').errors &&
            (infoRegisterForm.get('lastName').touched || infoRegisterForm.get('lastName').dirty)}">
            <input type="text" id="lastname" formControlName="lastName">
            <label for="lastname">{{'FORM.LASTNAME' | translate}}</label>
            <span class="errors-box" *ngIf="infoRegisterForm.get('lastName').errors &&
                (infoRegisterForm.get('lastName').touched || infoRegisterForm.get('lastName').dirty)">
                <span *ngIf="infoRegisterForm.get('lastName').errors.required" class="err-input">{{'MESSAGE.LASTNAME.REQUIRED' | translate}}</span>
            </span>
        </div>
    </div>
    <div class="input-holder" [ngClass]="{'err-box': infoRegisterForm.get('uniqueUserId').errors &&
        (infoRegisterForm.get('uniqueUserId').touched || infoRegisterForm.get('uniqueUserId').dirty)}">
        <input type="text" id="showname" formControlName="uniqueUserId">
        <label for="showname">{{'FORM.UNIQUEUSERID' | translate}}</label>
        <span class="errors-box" *ngIf="infoRegisterForm.get('uniqueUserId').errors &&
            (infoRegisterForm.get('uniqueUserId').touched || infoRegisterForm.get('uniqueUserId').dirty)">
            <span *ngIf="infoRegisterForm.get('uniqueUserId').errors.required" class="err-input">{{'MESSAGE.UNIQENAME.REQUIRED' | translate}}</span>
            <span *ngIf="infoRegisterForm.get('uniqueUserId').errors.maxlength || infoRegisterForm.get('uniqueUserId').errors.minlength"
             class="err-input">{{'MESSAGE.UNIQENAME.LENGTH' | translate}}</span>  
            <span *ngIf="infoRegisterForm.get('uniqueUserId').errors.pattern" class="err-input">{{'MESSAGE.UNIQENAME.FORMAT' | translate}}</span>
        </span>
    </div>
    <div class="input-holder" [ngClass]="{'err-box': infoRegisterForm.get('password').errors &&
    (infoRegisterForm.get('password').touched || infoRegisterForm.get('password').dirty)}">
        <input type="{{ !classChange ? 'password' : 'text' }}" id="password" formControlName="password">
        <label for="password">{{'FORM.PASSWORD' | translate}}</label>
        <i [className]="!classChange ? 'icon-seen' : 'icon-unseen'"
                (click)="changeType($event)"></i>
        <span class="errors-box" *ngIf="infoRegisterForm.get('password').errors &&
            (infoRegisterForm.get('password').touched || infoRegisterForm.get('password').dirty)">
            <span *ngIf="infoRegisterForm.get('password').errors.minlength" class="err-input">{{'MESSAGE.PASSWORD.LENGTH' | translate}}</span> 
            <span *ngIf="infoRegisterForm.get('password').errors.pattern" class="err-input">{{'MESSAGE.PASSWORD.FORMAT' | translate}}</span>
            <span *ngIf="infoRegisterForm.get('password').errors.required" class="err-input">{{'MESSAGE.PASSWORD.REQUIRED' | translate}}</span>
        </span>
    </div>
    <div class="input-check">
        <input type="checkbox" id="checkPolicy" required  formControlName="acceptCondition" [value]="acceptCondition"/>
        <label for="checkPolicy"></label>
        <span>
            <a>{{'FORM.POLICY' | translate}}</a>
            {{'FORM.IHAVEACCEPTED' | translate}}
        </span>
        <!-- <div class="errors-box" *ngIf="infoRegisterForm.get('acceptCondition').errors">
            <span *ngIf="infoRegisterForm.get('acceptCondition').errors.required" class="err-input">لطفا قوانین را مطالعه و پذیرش آن را ثبت فرمائید</span>
        </div> -->
    </div>
    <div class="bottom-holder">
        <a class="btn btn-back-outline" (click)="cancelReg()">
            {{'FORM.CANCELREGISTER' | translate}}
        </a>
        <button type="submit" class="btn btn-orange"
            (click)="onSubmitRegister($event)" [disabled]="infoRegisterForm.invalid">
            {{'FORM.REGISTER' | translate}}
        </button>
    </div>
</form>