
<div class="box-holder-register">
    <div class="box-register">
        <app-head-auth></app-head-auth>
        <div class="login-box">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
                <div class="input-holder" 
                        [ngClass]="{'err-box': loginForm.get('email').errors &&
                    (loginForm.get('email').touched || loginForm.get('email').dirty)}">
                    <input type="email" id="emailInput"
                        formControlName="email">
                    <label for="emailInput">{{'FORM.EMAIL' | translate}}</label>
                    <span class="errors-box" *ngIf="loginForm.get('email').errors &&
                    (loginForm.get('email').touched || loginForm.get('email').dirty)">
                        <span *ngIf="loginForm.get('email').errors.required" class="err-input">{{'MESSAGE.EMAIL.REQUIRED' | translate}}</span>
                        <span *ngIf="loginForm.get('email').errors.email" class="err-input">{{'MESSAGE.EMAIL.FORMAT' | translate}}</span>
                    </span>
                </div>
                <div class="input-holder" 
                        [ngClass]="{'err-box': loginForm.get('password').errors &&
                    (loginForm.get('password').touched || loginForm.get('password').dirty)}">
                    <input type="password" id="passwordInput"
                        formControlName="password">
                    <label for="passwordInput">{{'FORM.PASSWORD' | translate}}</label>
                    <span class="errors-box" *ngIf="loginForm.get('password').errors &&
                    (loginForm.get('password').touched || loginForm.get('password').dirty)">
                        <span *ngIf="loginForm.get('password').errors.required" class="err-input">{{'MESSAGE.PASSWORD.REQUIRED' | translate}}</span>
                    </span>
                </div>
                <div class="holder-link-form">
                    <a routerLink="/forgetpassword">{{'FORM.FORGETPASSWORD' | translate}}</a>
                </div>
                <div class="bottom-holder">
                    <button type="submit" class="btn btn-orange" (click)="onSubmit($event)"
                    [disabled]="loginForm.invalid">
                        {{'FORM.SENDCODE' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <app-footer-auth class="app-footer-auth"></app-footer-auth>
</div>