$font-stack: Vazir;
$font-number-fa: VazirFD;

$black: #000000;
$black444: #444444;
$white: #ffffff;
$orange-color:#ff5722;
$primary-color:#f4f4f7;
$blue-color: #5c77ff;
$border-input-color:rgba(82, 63, 104, 0.2);
$error-color: #ff0000;
$light-black-ballerina: rgba(112, 112, 112, 0.23);
$light-color: #9e9e9e;
$disable-color-bg: #e0e0e0;
$disable-color:rgba($black, 0.54);

$light-timer-color: #e0e0e0;
$back-btn-color :#f44336;

$bg-Sidebar :#141924;
$bg-Sidebar-toolbar :#171d29;
$title-group-sidebar: #a1a2b6;
$icon-sidebar: #494b74;
$icon-sidebar-hover: #5c77ff;
$sidebar-hover-bg: #0a1223;


$primary-message: rgb(204 229 255);
$primary-message-border: rgb(3 155 229);

$warning-message: #fff3cd;
$warning-message-border: #ffd141;

