@font-face {
  font-family: 'ava';
  src:  url('../fonts/icon/ava.eot?t1k8rn');
  src:  url('../fonts/icon/ava.eot?t1k8rn#iefix') format('embedded-opentype'),
    url('../fonts/icon/ava.ttf?t1k8rn') format('truetype'),
    url('../fonts/icon/ava.woff?t1k8rn') format('woff'),
    url('../fonts/icon/ava.svg?t1k8rn#ava') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ava' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-assignment:before {
  content: "\e900";
}
.icon-bookmarks:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}
.icon-contactsupport:before {
  content: "\e903";
}
.icon-daterange:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-layer:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
.icon-notification:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-seen:before {
  content: "\e90a";
}
.icon-unseen:before {
  content: "\e90b";
}
.icon-tick:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-bars:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-gear:before {
  content: "\e910";
}
.icon-open-menu:before {
  content: "\e911";
}
.icon-home:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e913";
}