@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir.eot');
    src: url('../fonts/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir.woff2') format('woff2'),
         url('../fonts/vazir/Vazir.woff') format('woff'),
         url('../fonts/vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Bold.eot');
    src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Bold.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Bold.woff') format('woff'),
         url('../fonts/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Thin.eot');
    src: url('../fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Thin.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Thin.woff') format('woff'),
         url('../fonts/vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Light.eot');
    src: url('../fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Light.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Light.woff') format('woff'),
         url('../fonts/vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Medium.eot');
    src: url('../fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Medium.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Medium.woff') format('woff'),
         url('../fonts/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Black.eot');
    src: url('../fonts/vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Black.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Black.woff') format('woff'),
         url('../fonts/vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
  }

  /* without latin */
  @font-face {
    font-family: VazirWOL;
    src: url('../fonts/vazir/Without-Latin/Vazir-WOL.eot');
    src: url('../fonts/vazir/Without-Latin/Vazir-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Without-Latin/Vazir-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Without-Latin/Vazir-WOL.woff') format('woff'),
         url('../fonts/vazir/Without-Latin/Vazir-WOL.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: VazirWOL;
    src: url('../fonts/vazir/Without-Latin/Vazir-Bold-WOL.eot');
    src: url('../fonts/vazir/Without-Latin/Vazir-Bold-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Without-Latin/Vazir-Bold-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Without-Latin/Vazir-Bold-WOL.woff') format('woff'),
         url('../fonts/vazir/Without-Latin/Vazir-Bold-WOL.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: VazirWOL;
    src: url('../fonts/vazir/Without-Latin/Vazir-Thin-WOL.eot');
    src: url('../fonts/vazir/Without-Latin/Vazir-Thin-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Without-Latin/Vazir-Thin-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Without-Latin/Vazir-Thin-WOL.woff') format('woff'),
         url('../fonts/vazir/Without-Latin/Vazir-Thin-WOL.ttf') format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: VazirWOL;
    src: url('../fonts/vazir/Without-Latin/Vazir-Light-WOL.eot');
    src: url('../fonts/vazir/Without-Latin/Vazir-Light-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Without-Latin/Vazir-Light-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Without-Latin/Vazir-Light-WOL.woff') format('woff'),
         url('../fonts/vazir/Without-Latin/Vazir-Light-WOL.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: VazirWOL;
    src: url('../fonts/vazir/Without-Latin/Vazir-Medium-WOL.eot');
    src: url('../fonts/vazir/Without-Latin/Vazir-Medium-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Without-Latin/Vazir-Medium-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Without-Latin/Vazir-Medium-WOL.woff') format('woff'),
         url('../fonts/vazir/Without-Latin/Vazir-Medium-WOL.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: VazirWOL;
    src: url('../fonts/vazir/Without-Latin/Vazir-Black-WOL.eot');
    src: url('../fonts/vazir/Without-Latin/Vazir-Black-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Without-Latin/Vazir-Black-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Without-Latin/Vazir-Black-WOL.woff') format('woff'),
         url('../fonts/vazir/Without-Latin/Vazir-Black-WOL.ttf') format('truetype');
    font-weight: 900;
  }


  /*farsi digits  */

  @font-face {
    font-family: VazirFD;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: VazirFD;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Bold-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Bold-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Bold-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: VazirFD;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Thin-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Thin-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Thin-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Thin-FD.ttf') format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: VazirFD;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: VazirFD;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: VazirFD;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Black-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Black-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Black-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Black-FD.ttf') format('truetype');
    font-weight: 900;
  }

  /* Farsi-Digits-Without-Latin */

  @font-face {
    font-family: VazirFDWOL;
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot');
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: VazirFDWOL;
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot');
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: VazirFDWOL;
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.eot');
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.ttf') format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: VazirFDWOL;
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.eot');
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: VazirFDWOL;
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot');
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: VazirFDWOL;
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.eot');
    src: url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.ttf') format('truetype');
    font-weight: 900;
  }