@import '../../../../assets/scss/_variable';
@import '../../../../assets/scss/_mixin';

.container-account {
    width: 100%;
    margin: 17px auto;
}

.box-profile{
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba($black, 0.16);
    background-color: $white;
    position: relative;
    display: block;
}

.account-body-box{
    margin-top: 29px;
}

@media (max-width: 576px) {
  .container-account {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 576px) {
    .container-account {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (min-width: 768px) {
    .container-account {
      max-width: 720px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (min-width: 992px) {
    .container-account {
      max-width: 960px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (min-width: 1200px) {
    .container-account {
      max-width: 1140px;
    }
  }