@import './assets/scss/_variable';
@import './assets/scss/_mixin';

body{
    padding: 0;
    margin: 0;
    background-color: $primary-color;
    font-family: $font-stack;
}

.route-body{
    direction: rtl;
    text-align: right;    
}

.route-body.dltr{
    direction: ltr;
    text-align: left;
}


ul,ol{
    list-style:none;
}

*{
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

a:hover,a{
    text-decoration: none;
}
//  title page
h1.title-page {
    color: $white;
    font-size: 16px;
    padding: 1.5em 0;
    margin-bottom: 0;
}

// ========= input style 

button{
    font-family: $font-stack;
}

input,input:focus,
button,button:focus{
    outline: 0;
}

input[type='email'],.inputConfirm{
    direction: ltr;
}

.input-holder{
    position: relative;
    margin-top: 16px;
    input[type='text'],input[type='email'],
    input[type='password'],
    input[type='number'],.inputConfirm{
        height: 60px;
        width: 100%;
        background-color: rgba($black, 0.04);
        border:none;
        border-bottom: 3px solid $border-input-color;
        padding: 20px 14px 14.7px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.56;
        color: rgba($black, 0.38);
    }
    label{
        position: absolute;
        right: 14px;
        top: 20px;
        @include transition(0.3s all);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.56;
        color: rgba($black, 0.38);
    }
    input {
        &:focus{
            color: $black;
        }
        &:focus ~ label{
            top: 5px;
            font-size: 14px;
            color:$orange-color;
        }
    }
    i {
        position: absolute;
        left: 17.5px;
        top: 14px;
        margin: auto;
        display: inline-block;
        width: 38px;
        height: 38px;
        font-size: 38px;
        cursor: pointer;        
        color: rgba($black, 0.54);
    }
}

.ng-touched ~ label,.ng-dirty ~ label,
input[type="text"]:focus ~ label,
input[type="password"]:focus + label,
input[type="email"]:focus + label,
.ng-valid ~ label{
    top: 5px;
    font-size: 14px;
    color:$orange-color;
}


.group-input {
    display: flex;
    flex-wrap: wrap;
    .input-holder{
        width: 48.8%;
        &:first-child{
            margin-left: 15px;
        }
    }
}

.input-holder.err-box{
    input{
        border-bottom-color: $error-color;
    }
}

.bottom-holder {
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
    .btn{
        margin-left: 10px;
        &:last-child{
            margin-left: 0;
        }
    }
}

.err-input{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  color: $error-color;
  display: block;
  margin-top: 7px;
}


.input-check{
    margin-top: 30px;
    label{
        position: relative;
        width: 35px;
        height: 15px;
        border-radius: 8px;
        background-color: $light-color;
        display: inline-block;
        margin-left: 8px;
        cursor: pointer;
        @include transition(0.5s all);
        &::after{
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 100%;
            box-shadow: 0 3px 6px 0 rgba($black, 0.16);
            background-color: $white;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
            @include transition(0.5 all);
        }
    }
    span{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.56;
        color: rgba($black, 0.38);
    }
    a{
        color: $orange-color;
    }
    input[type="checkbox"]{
        display: none;
        &:checked + label{
            background-color: $orange-color;
            &::after{
                left: auto;
                right: 0;
            }
        }
    }
}

input:disabled{
    cursor: not-allowed;
}

.holder-link-form{
    margin-top: 18px;
    a{
        color: $orange-color;
        font-size: 16px;
        font-weight: 500;
    }
}


.route-body.dltr{
    .input-holder{
        label{
            right: auto;
            left: 14px;
        }
        i {
            right: 17.5px;
            left: auto;
        }
    }
    .bottom-holder {
        .btn{
            margin-left: 0;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .group-input {
        .input-holder{
            &:first-child{
                margin-left: 0;
                margin-right: 15px;
            }
        }
    }

    .input-check{
        label{
            margin-right: 8px;
            margin-left: 0;
        }
    }
}



@media only screen and (max-width:876px){
    .group-input {
        .input-holder{
            width: 100%;
            &:first-child{
                margin-left: 0px;
            }
        }
    }
}

//  ======= btn style 

.btn{
    min-width: 86px;
    padding: 7px 14px 7px 16px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    cursor: pointer;
    text-align: center;
}


.btn-orange{
    background: $orange-color;
    border-color: $orange-color;
    color: $white;
}


.btn-back-outline{
    background: transparent;
    border:none;
    color:$back-btn-color;
}


.btn-cancel-black-outline{
    background: transparent;
    border:none;
    color:$black;
}

.btn-blue{
    background: $blue-color;
    border-color: $blue-color;
    color: $white;
}



button:disabled{
    background: $disable-color-bg;
    border-color: $disable-color-bg;
    color: $disable-color;
    cursor: not-allowed;
}


// margin

.ml-10{
  margin-left: 10px;
}

.mt-30{
    margin-top: 30px;
}


// box register 
.box-holder-register{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    .box-register{
        position: relative;
        width: 800px;
        min-height: 504px;
        border-radius: 5px;
        box-shadow: 0 3px 6px 0 rgba(82, 63, 104, 0.06);
        background-color: $white;
        padding: 33px 65px 24px;
    }
}

.app-footer-auth {
    display: block;
    width: 800px;
    margin-top: 8px;
}


@media only screen and (max-width: 576px){
    .box-holder-register{
        .box-register{
            width: 95%;
            padding: 33px 10px 24px;
        }
    }
    .app-footer-auth {
        width: 95%;
    }
}

@media only screen and (max-width: 991px){
    .box-holder-register{
        .box-register{
            width: 86%;
        }
    }
    .app-footer-auth {
        width: 86%;
    }
}


// message box
.primary-message {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    color: $black444;
    background-color: $primary-message;
    border-color: $primary-message-border;
    border-left: 5px solid $primary-message-border;
    border-radius: 5px;
    font-size: 16px;
}

.warning-message {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    color: $black444;
    background-color: $warning-message;
    border-color: $warning-message-border;
    border-left: 5px solid $warning-message-border;
    border-radius: 5px;
    font-size: 16px;
}


// modal
.modal-box {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($black,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal-box-content{
    width: 400px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0;
    position: relative;
    .header-modal-box {
      position: relative;
      padding: 10px;
      h2{
          margin:0;
          font-size: 16px;
      }
      .close-modal-btn {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 18px;
        cursor: pointer;
        }
    }
    .body-modal-box{
        position: relative;
        padding:2em 10px;
    }
    .footer-modal-box{
        position: relative;
        padding: 10px;
        .bottom-holder{
            margin: 0;
        }
    }
}

@media only screen and (max-width: 567px){
    .modal-box-content{
        width: 100%;
    }
}

/* style scroll */

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba($black, 0.3);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0px solid slategrey;
    border-radius: 9px;
  }
  


//    body orange color class

body.orange-color{
    .btn-blue{
        background: $orange-color;
        border-color: $orange-color;
    }
    .navbar-box{
        a.drop-down-btn{
            color:$orange-color !important;
            &::after{
                border-top: 5px solid $orange-color !important;
            }
        }
    }
    .navbar-box{
        .navbar-icon-box{
            color:$orange-color !important;
        }
        .user-navbar{
            .acc-btn{
                span{
                    background: rgba($orange-color , 0.1) !important;
                    color: $orange-color !important;
                }
            }
        }
    } 
    .list-menu-sidebar{
        .dash-title-link{
            &:hover{
                a{
                    i{
                       color:$orange-color !important; 
                    }
                }
            } 
        }
        ul{
            li{
                &:hover {
                    a{
                        i{
                            color:$orange-color !important; 
                        }
                    }
                }
            }    
        }
    }  
    
    span.btn-res-sidebar{
        color: $orange-color !important;
    }
}


// change lang 

.route-body.dltr{
    // register step
    .step{
        padding-left: 0;
        .step-item{
            font-size: 10px;
            i{
                font-family: $font-number-fa;
                margin-left: 0 !important;
                margin-right: 7px;
            }
            &:nth-child(2) {
                width: calc(100% - 190px) !important;
                &::after,&::before{
                    width: 32% !important;
                }
            }
        }
    }
    // footer authentication
    .footer-auth {
        > div {
             &:last-child{
                 text-align: right !important;
             }
           }
        .language-box{
            ul{
                right: auto !important;
                left: 0;
                li{
                    img{
                        margin-right: 10px;
                        margin-left: 0px !important;
                    }
                }
            }
        }
        .show-lang{
            span{
                padding-right: 15px;
            }
            img{
                margin-right: 10px;
                margin-left: 0px !important;
            }
            &::after{
                left: auto !important;
                right: 0;
            }
        }    
    }
}


.route-body.drtl{
    /* content style */
    .content-body {
        direction: rtl;
        text-align: right;
        width: calc(100% - 280px);
        margin-left: 0;
        margin-right: 280px;
    }
    // sidebar style
    .sidebar-box {
        text-align: right;
        direction: rtl;
        left: auto;
        right: 0;
        .sidebar-toolbar {
            .logo-box {
                img{
                    margin-left: 15px;
                    margin-right: 0;
                }
            } 
        }
    }   
    /* list menu side bar */
    .list-menu-sidebar {
        ul{
            padding: 0;
            li{
                a{
                    i{
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
        .dash-title-link{
            a{
                i{
                    margin-right: 0;
                        margin-left: 10px;
                }
            }
        }
        
    }

    // navbar style
    .navbar-box{
        .right-navbar{
            text-align: right;
        }
        .user-navbar{
            .acc-btn {
                span{
                    margin-left: 0 !important;
                    margin-right: 5px;
                }
            }
            ul{
                right: auto !important;
                left: 0;
                li{
                    a{
                        text-align: right;
                    }
                }
            }
        }
        .drop-down-box{
            position: relative;
            ul{
                right: auto !important;
                left: 0;
                li.lang-item{
                    img{
                        margin-right: 0 !important;
                        margin-left: 10px;
                    }
                }
            }
        }
        .drop-down-left{
            ul{
                right: 0 !important;
                left: auto !important;
            }
            .drop-down-btn{
                &::after{
                    left: 0;
                    right: auto !important;
                }
            }
        }
    
    }   
    span.btn-res-sidebar {
        margin-left: 10px;
        margin-right: 0 !important;
    }

    // profile style 
    .link-profile {
        ul{
            padding-right: 137px;
            padding-left: 0 !important;
            li.active,li:hover{
                &::after{
                    right: 0;
                    left: auto !important;
                }
            }
        }
        .setting-link {
            text-align: left;
        }
        .acc-profile {
            right: 20px;
            left: auto !important;
        }
    }
    .pic-profile {
        .pic-pr{
            label {
                right: auto !important;
                left: -10px;
            }
        }   
    }    
    .name-profile {
        right: 140px;
        left: auto !important;
    }

    // sidebar trading style
    .sidebar-acc{
        h2{
            text-align: right !important;
        }
        ul{
            padding-right:0;
            li{
                a{
                    text-align: right !important;
                }
            }
            li.drop-down {
                a{   
                    padding: 0; 
                    &::after{
                        transform: rotate(135deg) !important;
                        left: 15px;
                        right: auto !important;
                    }
                }
            }        
        }
    }
    
    // my account trading style    
    .content-right-acc{
        margin-right: 15px;
        margin-left: 0 !important;
    }

    // trading style
    .title-add{
        h2{
            text-align: right !important;
        }
        .link-add{
            a{
                padding-right: 15px;
                padding-left: 0 !important;
                i{
                    left: auto !important;
                    right: 18px;
                }
            }
        }
    }
    .box-holder-traiding{
        padding:0px 11px 19px 13px !important;
    }

    // trading item style
    .item-traiding{
        h3{
            img {
                margin-right: 0 !important;
                margin-left: 5px;
            }
        }
        .click-dropdown {
            right: auto !important;
            left: 0;
            ul{
                right: auto !important;
                left: 0;
            }
        }
    }
    
    // trading crud style

    .title-box h2{
        text-align: right !important;
    }

    // breadcrumb style
    .bread-crumb {
        padding-right: 0;
        li{
            &::after{
                right: 0;
                left: auto !important;
            }
            &:first-child{
                padding-right: 0;
                padding-left: 17px !important;
            }        
        }
    }

          
}

/* media style */
@media (max-width: 1126px) {
    .route-body.drtl{
         // profile style 
        .link-profile {
            ul{
                padding-right: 0;
                padding-left: 0 !important;
            }
        }   
    }
}

@media only screen and (max-width:992px){
    .route-body.drtl{
        /* content style */
        .content-body {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
        // sidebar
        .sidebar-box{
            right:-150%;
            left:auto;
        }
        .sidebar-box.active {
            right: 0;
            left: auto;
        }
        // navbar
        .btn-hide-sidebar {
            right: auto;
            left: 20px;
        }   
    }
}

