@import '../../../assets/scss/variable';

.head-register {
    text-align: center;
    img {
        width: 193px;
        height: 70px;
        object-fit: contain;
    }
    h1{
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.6;
        color: $black;
    }
    
}