/* content style */
.content-body {
    direction: ltr;
    text-align: left;
    width: calc(100% - 280px);
    margin-left: 280px;
  }

  /* media style */
@media only screen and (max-width:992px){
  .content-body {
    width: 100%;
    margin-left: 0;
 }
}