<div [ngSwitch]="myStep">
    <ng-container *ngSwitchCase="'step_1'">
      <app-register-get-email></app-register-get-email>
    </ng-container>
    <ng-container *ngSwitchCase="'step_2'">
        <app-register-confirm-email></app-register-confirm-email>
    </ng-container>
    <ng-container *ngSwitchCase="'step_3'">
        <app-register-info-user></app-register-info-user>
    </ng-container>
</div>


