     <!-- image -->
     <div class="pic-bg-profile">
        <picture>
            <source media="(min-width:1024px)" srcset="./assets/img/1321.jpg">
            <source media="(min-width:992px)" srcset="./assets/img/1321@2x.jpg">
            <source media="(min-width:575px)" srcset="./assets/img/1321@3x.jpg">
            <img alt="" src="./assets/img/1321.jpg"/>
        </picture>
    </div>
    <div class="link-profile">
        <div class="acc-profile">
            <div class="pic-profile">
                <div class="pic-pr">
                    <!-- <img src="./assets/img/3.jpg"/> -->
                    <img [src]="sanitizedImageBlobUrl"/>
                    <label (click)="openDialog($event)">
                        <img src="./assets/img/camera.png"/>                       
                    </label>
                </div>                    
            </div>
        </div>
         <!-- modal accept data -->
         <div class="modal-box" *ngIf="showDialog">
             <div class="modal-box-content">
                <app-loading *ngIf="showLoading"></app-loading>
                 <form [formGroup]="uploadForm" (ngSubmit)="updateProfileAvatar($event)">
                    <input type="file" id="uploadPic" (change)="onFileChanged($event)" accept=".png, .jpg, .jpeg">
                    <div class="pic-avatar">
                        <img [src]="imageURL">
                    </div>
                    <div *ngIf="messageSizePic !== null">
                        <span class="err-input" translate>{{messageSizePic}}</span>
                    </div>
                    <div class="bottom-holder">
                        <span class="btn btn-cancel-black-outline" (click)="openDialog($event)">{{'FORM.CANCEL' | translate}}</span>
                        <button type="submit" class="btn btn-orange" [disabled]="uploadForm.invalid">
                            {{'FORM.UPLOAD' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="name-profile">
            <h4>{{uniqueUserId}}</h4>
        </div>
        <div class="row">
            <div class="left-box">
                <ul>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="'my-information'">{{"MYINFORMATION" | translate}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="'my-account'">{{"MYACCOUNT" | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="right-box">
                <div class="setting-link">
                    <a>
                        <i class="icon-gear"></i>
                        {{"SETTING" | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>