@import '../../../../../../assets/scss/_variable';
@import '../../../../../../assets/scss/_mixin';

.pic-bg-profile {
    height: 257px;
    overflow: hidden;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    img{
        width: 100%;
        height: 100%;
    }
}

.link-profile {
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba($black, 0.16);
    background-color: $white;
    ul{
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 137px;
        min-height: 50px;
        li{
            position: relative;
            a{
                font-size: 14px;
                font-weight: 500;
                line-height: 1.21;
                text-align: center;
                color: $black;
                padding: 15px 25px;
                line-height: 20px;
                display: block;
                text-transform: capitalize;
            }
        }
        li.active,li:hover{
            &::after{
                content: '';
                width: 100%;
                height: 2px;
                background:$orange-color;
                left: 0;
                bottom: 0;
                display: block;
                position: absolute;
            }
        }
    }
    .setting-link {
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: right;
        color: $orange-color;
        a{
            padding: 10px;
            i{
                vertical-align: middle;
                font-size: 23px;
            }
        }
      }
      
      .acc-profile {
        position: absolute;
        left: 20px;
        bottom: 17px;
        z-index: 2;
    }
    .left-box,.right-box{
        width: 50%;
    }
}




.pic-profile {
    display: flex;
    .pic-pr{
        position: relative;
        width: 95px;
        height: 95px;
        > img {
            width: 95px;
            border-radius: 100%;
            height: 95px;
        }
        label {
            cursor: pointer;
            width: 33px;
            height: 33px;
            display: block;
            position: absolute;
            right: -10px;
            bottom: -5px;
            img{
                width: 100%;
            }
            input {
                display: none;
            }
        }
    }   
}

.name-profile {
    position: absolute;
    display: inline-block;
    left: 140px;
    bottom: 56px;
    h4{
        color: $white;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.19;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.pic-avatar{
    width: 200px;
    height: 200px;
    margin: 10px auto;
    img{
        width: 100%;
        height: 100%;
    }
}

.bottom-holder {
    margin-top: 45px;
}


@media (max-width: 1126px) {
    .pic-bg-profile {
        height: 200px;
    }

    
    .link-profile {
        ul{
            padding-left: 0;
        }
        .acc-profile {
            bottom: auto;
            top: 50px;
        }
        .left-box,.right-box{
            width: 50%;
        }
    }

    .name-profile {
        bottom: auto;
        top: 80px;
        left: 130px;
    }
}



@media (max-width: 991px) {
    .row {
       flex-direction: column-reverse;
    }   
    .link-profile {
        .left-box,.right-box{
            width: 100%;
        }
    }

}


@media (max-width: 576px) { 
    .name-profile {
        h4{
            font-size: 16px;
        }
    }
}