@import "../../../assets/scss/_variable";
@import "../../../assets/scss/_mixin";

.footer-auth {
    display: flex;
    flex-wrap: wrap;
    > div {
     width: 50%;  
     position: relative;
      &:last-child{
          text-align: left;
      }
    }
    .language-box{
        ul{
            background: $white;
            position: absolute;
            min-width: 150px;
            box-shadow: 0 0 5px 0 #ddd;
            border-radius: 2px;
            top: 40px;
            margin-top: 0;
            margin-bottom: 0;
            padding-right: 0;
            right: 0;
            min-height: 70px;
            padding: 10px;
            display: none;
            li{
                cursor: pointer;
                margin-bottom: 10px;
                img{
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    margin-left: 10px;
                    vertical-align: middle;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                span{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.57;
                    color: $black;
                }
            }
        }
    }
    .show-lang{
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: $black;
        display: inline-block;
        min-width: 95px;
        cursor: pointer;
        img{
            width: 29px;
            height: 29px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 14px;
            width: 0px;
            height: 0px;
            display: block;
            border-top: 5px solid rgba($black, 0.43);
            border-bottom: 5px solid transparent;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }
    }

    .drop-down-box {
        display: inline-block;
        position: relative;
    }
    .drop-down-box.show {
        ul{
            display: block;
        }
    }

    .user-type-action{
        span{
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            color: $black;
            a{
                color: $orange-color;
            }
        }
    }

}


    