<div class="footer-auth">
    <div class="language-box">
        <div class="drop-down-box" appDropDown>
            <a class="show-lang" >
                <img [src]="imgPath" alt="{{langText}}"/>
                <span>{{langText}}</span>
            </a>
            <ul>
                <!-- <li (click)="switchLanguage('fa')">
                    <img src="./assets/img/iran.png" alt="فارسی"/>
                    <span>فارسی</span>
                </li>
                <li (click)="switchLanguage('en')">
                    <img src="./assets/img/us-flag.svg" alt="English"/>
                    <span>English</span>
                </li> -->
                <li *ngFor="let langItem of languages" (click)="switchLanguage(langItem.slug)">
                    <img [src]="langItem.image" [alt]="langItem.text"/>
                    <span>{{langItem.text}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="user-type-action">
        <span *ngIf="showUserTypeAction else loginShow">
            {{'FORM.NOTHAVEANACCOUNT' | translate}}  <a routerLink="/register">{{'FORM.CREATEANACCOUNT' | translate}}</a>
        </span>
        <ng-template #loginShow>
            <span>
                {{'FORM.HAVEANACCOUNT' | translate}} <a routerLink="/login">{{'FORM.ENTER' | translate}}</a>
            </span>
        </ng-template>
    </div>
</div>
