<div class="title-add">
    <div class="row">
        <div class="left-box">
            <h2> {{"TRAIDING" | translate}}</h2>
        </div>
        <div class="right-box">
            <div class="link-add">
                <a [routerLink]="'/dashboard/create-traiding'">
                    <i class="icon-plus"></i>
                    {{"ACCOUNT" | translate}}
                </a>
            </div>                                                
        </div>
    </div>
</div>     
<app-item-traiding class="box-holder-traiding"></app-item-traiding>