@import '../../../../../../assets/scss/_variable';
@import '../../../../../../assets/scss/_mixin';

.title-add{
    border-bottom: 1px solid rgba($black,0.08);
    padding: 10px 23px;
    h2{
        font-size: 18px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: $black;
        margin-bottom: 0;
    }
    .link-add{
        display: flex;
        justify-content: flex-end;
        a{
            width: 134px;
            height: 36px;
            background-color: $orange-color;
            border-radius: 5px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 40px;
            color: $white;
            padding-left: 15px;
            position: relative;
            text-transform: uppercase;
            i{
                position: absolute;
                left: 18px;
                top: 0px;
                bottom: 0;
                margin: auto;
                display: block;
                width: 20px;
                height: 25px;
                line-height: 25px;
                font-size: 14px;
            }
        }
    }
    .left-box,.right-box{
        width: 50%;
    }
}
.box-holder-traiding{
    display: flex;
    flex-wrap: wrap;
    padding:0px 13px 19px 11px;
}



@media only screen and (min-width:577px) and (max-width:767px){
    .title-add{
        .left-box,.right-box{
            width: 100%;
            margin-bottom: 10px;
        }
    }
}


@media only screen and (max-width:340px){
    .title-add{
        .left-box,.right-box{
            width: 100%;
            margin-bottom: 10px;
        }
    }
}