<form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <div class="input-holder" 
            [ngClass]="{'err-box': emailForm.get('email').errors &&
        (emailForm.get('email').touched || emailForm.get('email').dirty)}">
        <input type="email" id="emailInput"
            formControlName="email">
        <label for="emailInput"> {{'FORM.EMAIL' | translate}}</label>
        <span class="errors-box" *ngIf="emailForm.get('email').errors &&
        (emailForm.get('email').touched || emailForm.get('email').dirty)">
            <span *ngIf="emailForm.get('email').errors.required" class="err-input">{{'MESSAGE.EMAIL.REQUIRED' | translate}}</span>
            <span *ngIf="emailForm.get('email').errors.email" class="err-input">{{'MESSAGE.EMAIL.FORMAT' | translate}}</span>
        </span>
    </div>
    <div class="bottom-holder">
        <button type="submit" class="btn btn-orange"
        [disabled]="emailForm.invalid">
            {{'FORM.SENDCODE' | translate}}
        </button>
    </div>
</form>