<div class="item-traiding" *ngFor="let item of tradingItem; trackBy: trackByFunc">
    <div class="item-traiding-box">
      <div class="click-dropdown" appDropDown>
          <i class="icon-open-menu"></i>
          <ul>
            <li>
              <a [routerLink]="['/dashboard/create-traiding/' + item.id +'/edit']">
                {{"EDIT" | translate}}
              </a>
            </li>
            <li>
              <a (click)="openDialog()">
                {{"DELETE" | translate}}
              </a>
            </li>
          </ul>
      </div>
      <h3 title=" {{item.cabinNumber}}">
          <img src="./assets/img/account.svg" >
          {{item.cabinNumber}}
      </h3>
      <p>{{item.tradingAccount}}</p>
    </div>
    <!-- modal accept data -->
    <div class="modal-box" *ngIf="showDialog">
        <div class="modal-box-content">
          <div class="header-modal-box">
              <h2>{{"DELETE" | translate}}</h2>
              <div class="close-modal-btn" (click)="openDialog($event)">
                  <i class="icon-close"></i>
              </div>
          </div>
          <div class="body-modal-box">
            <div class="warning-message">{{'MESSAGEDELET' | translate}} </div>
          </div>
          <div class="footer-modal-box">
              <div class="bottom-holder">
                <span class="btn btn-cancel-black-outline" (click)="openDialog()">{{"NO" | translate}}</span>
                <span class="btn btn-orange" (click)="deleteTrading(item.id)">{{"YES" | translate}}</span>
              </div>
          </div>
      </div>
    </div>
  </div>
