@import '../../../../../../../../assets/scss/_variable';
@import '../../../../../../../../assets/scss/_mixin';

.item-traiding{
    padding-right: 11px;
    padding-left: 11px;
    width: 33.33333%;
    .item-traiding-box{
        border: solid 1px $border-input-color;
        background-color: $white;
        margin-top: 20px;
        position: relative;
        border-radius: 5px;       
    }
    h3{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: normal;
        color: rgba($black, 0.54);
        padding: 10px 15px;
        border-bottom: 1px solid $border-input-color;
        margin: 0;
        img {
            width: 30px;
            height: 30px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    p{
      font-size: 16px;
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: normal;
      color: $black;
      padding: 15px;
      margin: 0;
    }
    .click-dropdown {
        display: block;
        width: 20px;
        text-align: center;
        position: absolute;
        right: 0;
        top: 14px;
        cursor: pointer;
        i{
          width: 15px;
          color: rgba($black, 0.54);
          &:hover{
              color: $orange-color;
          }
        }
        ul{
            position: absolute;
            width: auto;
            background: $white;
            box-shadow: 0 0 5px 0 rgba($black, 0.1);
            right: 0;
            top: 11px;
            min-width: 130px;
            min-height: 36px;
            padding: 5px;
            display: none;
            li{
                border-bottom:1px solid rgba($black, 0.13);;
                a{
                    display: block;
                    padding: 5px 10px;
                    color: rgba($black, 0.8);
                    font-size: 16px;
                    font-weight: 400;
                }
                &:last-child{
                    border-bottom: none;
                }
                &:hover{
                    a{
                        color: $orange-color
                    }
                }
            }
        }
    }
    .click-dropdown.show{
        ul{
            display: block;
        }
    }
}



@media only screen and (max-width:567px){
    .item-traiding{
        width: 50%;
    }    
}

@media only screen and (max-width:480px){
    .item-traiding{
        width: 100%;
    }    
}


@media only screen and (min-width:568px) and (max-width:1099px){
    .item-traiding{
        width: 100%;
    }    
}


@media only screen and (min-width:1100px) and (max-width:1300px){
    .item-traiding{
        width: 50%;
    }    
}