
<div class="box-holder-register">
    <div class="box-register">
        <app-loading *ngIf="showLoading"></app-loading>
        <app-head-auth></app-head-auth>
        <app-step-form-selector></app-step-form-selector>
        <app-multi-step-form></app-multi-step-form>
    </div>
    <app-footer-auth class="app-footer-auth"></app-footer-auth>
</div>