@import '../../../../../assets/scss/_variable';
@import '../../../../../assets/scss/_mixin';

.sidebar-account-box{
    width: 326px;
  }
  

.content-right-acc{
    box-shadow: 0 3px 6px 0 rgba($black, 0.16);
    background-color: $white;
    border-radius: 5px;
    padding-bottom: 3em;
    margin-left: 15px;
    width: calc(100% - 341px);
}


@media only screen and (max-width:576px){
  .row{
    flex-direction: column;
    > div{
      width: 100%;
      margin:0;
    }
  }
}