@import '../../../../../assets/scss/variable';

.register-show-email{
    text-align: center;
    h3{
        min-width: 233px;
        height: 45px;
        border-radius: 23px;
        border:1px solid $light-black-ballerina;
        background-color: $white;
        display: inline-block;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        line-height: 45px;
        color: $black;
        padding-left: 45px;
        padding-right: 10px;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        a{
            width: 31px;
            height: 31px;
            background-color: rgba($black, 0.17);
            border-radius: 100%;
            left: 6px;
            top: 0;
            position: absolute;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
        }
    }
    h4{
        font-family: $font-number-fa;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.56;
        color: rgba($black, 0.54);
        margin-top: 20px;
        margin-bottom: 0;
    }
}

.box-timer {
    width: 82px;
    height: 36px;
    border-radius: 5px;
    background-color: $light-timer-color;
    text-align: center;
    line-height: 36px;
    direction: ltr;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    span {
        font-family: $font-number-fa;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: rgba($black, 0.54);
    }
}