<form [formGroup]="confirmEmailForm" (ngSubmit)="onSubmitConfirm($event)">
    <div class="register-show-email">
        <h3 title="{{emailUser}}">
            {{emailUser}}
            <a class="edit-email" (click)="backStep()">
                <i class="icon-edit"></i>
            </a>
        </h3>
        <h4 translate [translateParams]="{verifyCodeLength: verifyCodeLength}">FORM.SENDCODENUMBERMESSAGE</h4>
    </div>
    <div>
        <div class="input-holder"
                [ngClass]="{'err-box': confirmEmailForm.get('verifyCode').errors &&
                (confirmEmailForm.get('verifyCode').touched || confirmEmailForm.get('verifyCode').dirty)}">
            <input id="confirmInput" type="text" 
                formControlName="verifyCode" placeholder="{{showMaskInput}}"
                class="inputConfirm" maxlength="{{verifyCodeLength}}" minlength="{{verifyCodeLength}}"/>
            <div class="box-timer">
                <span *ngIf="!showBtnSend">{{counterDateAsStr}}</span>
                <button type="submit" class="btn btn-orange" (click)="resendCode($event)" *ngIf="showBtnSend">
                    {{'FORM.SENDCODE' | translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="bottom-holder">
        <a class="btn btn-back-outline" (click)="backStep()">
            {{'FORM.BACK' | translate}}
        </a>
        <button type="submit" class="btn btn-orange" (click)="onSubmitConfirm($event)"
        [disabled]="confirmEmailForm.invalid">
            {{'FORM.CONFIRMCODE' | translate}}
        </button>
    </div>
</form>