@import '../../../../../../../assets/scss/_variable';
@import '../../../../../../../assets/scss/_mixin';

.sidebar-acc{
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba($black, 0.16);
    background-color: $white;
    h2{
        font-size: 18px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: $black;
        border-bottom: 1px solid rgba($black,0.08);
        padding: 18px 23px;
        margin: 0;
        text-transform: capitalize;
    }
    ul{
    padding-left:0;
        li{
            position: relative;
            a{
            padding: 14.5px 25px;
            font-size: 18px;
            font-weight: 500;
                line-height: 1.17;
                letter-spacing: normal;
                text-align: left;
                color: $black;
                display: block;
            }
            &:hover{
                a{
                    color: $orange-color;
                }
            }
        }
        li.active{
            a{
                color: $orange-color;
            }
        }
        li.drop-down {
            a{
                &::after{
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-right: 2px solid;
                    border-bottom: 2px solid;
                    transform: rotate(-45deg);
                    position: absolute;
                    right: 15px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    border-bottom-right-radius: 2px;
                }
            }
        }

    }
}
