<div class="sidebar-acc">
    <h2>{{"MYACCOUNT" | translate}}</h2>
    <ul>
        <li class="drop-down" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="'traiding'">{{"TRAIDING" | translate}}</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="'e-money'">{{"EMONEY" | translate}}</a>
        </li>
    </ul>
</div>