@import '../../../../assets/scss/_variable';

.step{
    display: flex;
    padding-right: 0;
    margin-top: 50px;
    margin-bottom: 54px;
    .step-item{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.56;
        color: rgba($black, 0.54);
        position: relative;
        i{
            width: 24px;
            height: 24px;
            opacity: 0.54;
            background-color: $black;
            display: inline-block;
            font-family: $font-number-fa;
            font-style: normal;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.56;
            color: $white;
            text-align: center;
            border-radius: 100%;
            margin-left: 7px;
        }
        i[class*="icon-"]{
            line-height: 24px;
            font-size: 15px;
        }
        &:nth-child(2) {
            width: calc(100% - 150px);
            text-align: center;
            &::after,&::before{
                content: '';
                background-color: rgba($black, 0.04);
                position: absolute;
                top: 0;
                bottom: 0;
                display: block;
                margin: auto;
                height: 2px;
                width: 35%;
            }
            &::before{
                right: 15px;
            }
            &::after{
                left: 15px;
            }
        }
    }
    
    .step-item.active{
        color: $black;
        i{
           background-color:$orange-color;
           opacity: 1;
       }
    }
}



@media only screen and (max-width: 576px){
  
    
}

@media only screen and (max-width: 767px){
    .step{
        .step-item{            
            font-size: 14px;
            i{
                width: 20px;
                height: 20px;
                font-size: 14px;
            }
            &:nth-child(2) {
                &::after,&::before{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 991px){
   
}
