<ul class="step">
    <li class="step-item" [ngClass]="{'active': isActiveStep1}">      
      <i *ngIf="!isCheckStep1 else isIcon1">1</i>
      <ng-template #isIcon1>
        <i Class="icon-tick"></i>
      </ng-template>
      <span>{{'FORM.EMAIL' | translate}}</span>
    </li>
    <li class="step-item" [ngClass]="{'active': isActiveStep2}">      
      <i *ngIf="!isCheckStep2 else isIcon2">2</i>
      <ng-template #isIcon2>
        <i Class="icon-tick"></i>
      </ng-template>
      <span>{{'FORM.CONFIRMEMAIL' | translate}}</span>
    </li>
    <li class="step-item" [ngClass]="{'active': isActiveStep3}"> 
      <i>3</i>
      <span>{{'FORM.INFORMATION' | translate}}</span>
    </li>    
  </ul>