@import '../../../../../../../../../assets/scss/_variable';
@import '../../../../../../../../../assets/scss/_mixin';

.title-box h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 0;
    border-bottom: 1px solid rgba($black,0.08);
    padding: 24px 30px;
  }
  
  .form-traiding-crud{
    display: block;
    width: 70%;
    margin: 3em auto;
    padding: 0 0 3em 0;
  }
  
.traiding-crud-box{
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
}


@media only screen and (max-width:576px){
  .form-traiding-crud{
    width: 90%;
  }
}