<div class="title-box">
    <h2 translate>{{pageTitle}}</h2>
  </div>
  <div class="form-traiding-crud">
   
<div class="primary-message"  *ngIf="statusTrading else warning">
    {{'FORM.TEXTSUCCES' | translate}}
</div>
<ng-template #warning>
    <div class="warning-message" >
        {{'FORM.TEXTDANGER' | translate}}
    </div>
</ng-template>  
  
  
  <div class="traiding-crud-box">
    <form [formGroup]="traidingForm" (ngSubmit)="onSubmit($event)">
        <div class="input-holder" [ngClass]="{'err-box': traidingForm.get('cabinNumber').errors &&
        (traidingForm.get('cabinNumber').touched || traidingForm.get('cabinNumber').dirty)}">
            <input type="text" id="cabinNumber" formControlName="cabinNumber" [attr.disabled]="!statusTrading?'':null" maxlength="8"/>
            <label for="cabinNumber">{{'FORM.CABINNUMBRER' | translate}} *</label>
            <span class="errors-box" *ngIf="traidingForm.get('cabinNumber').errors &&
            (traidingForm.get('cabinNumber').touched || traidingForm.get('cabinNumber').dirty)">
                <span *ngIf="traidingForm.get('cabinNumber').errors.required" class="err-input">{{'MESSAGE.CABINNUMBER.REQUIRED' | translate}}</span>
                <span *ngIf="traidingForm.get('cabinNumber').errors.maxlength" class="err-input">{{'MESSAGE.CABINNUMBER.LENGTH' | translate}}</span> 
            </span>
        </div>
        <div class="input-holder" [ngClass]="{'err-box': traidingForm.get('traidingAccount').errors &&
        (traidingForm.get('traidingAccount').touched || traidingForm.get('traidingAccount').dirty)}">
            <input type="text" id="tradingAccount" formControlName="traidingAccount" maxlength="7" [attr.disabled]="!statusTrading?'':null">
            <label for="tradingAccount">{{'FORM.TRAIDINGACCOUNT' | translate}}*</label>
            <span class="errors-box" *ngIf="traidingForm.get('traidingAccount').errors &&
            (traidingForm.get('traidingAccount').touched || traidingForm.get('traidingAccount').dirty)">
                <span *ngIf="traidingForm.get('traidingAccount').errors.required" class="err-input">{{'MESSAGE.TRADINGACCOUNT.REQUIRED' | translate}}</span>
                <span *ngIf="traidingForm.get('traidingAccount').errors.maxlength" class="err-input">{{'MESSAGE.TRADINGACCOUNT.LENGTH' | translate}}</span> 
            </span>
        </div>
        <div class="input-check">
            <input type="checkbox" id="published" formControlName="published" [value]="published" [attr.disabled]="!statusTrading?'':null"/>
            <label for="published"></label>
            <span>
                {{'FORM.PUBLISHED' | translate}}
            </span>
        </div>
        <div class="bottom-holder">
            <a class="btn btn-cancel-black-outline" [routerLink]="['/dashboard/account']">
                {{'FORM.CANCEL' | translate}}
            </a>
            <button class="btn btn-orange" (click)="openDialog($event)" [disabled]="traidingForm.invalid">
                {{'FORM.SAVE' | translate}}
            </button>
        </div>
          <!-- modal accept data -->
        <div class="modal-box" *ngIf="showDialog">
            <div class="modal-box-content">
                <div class="header-modal-box">
                    <h2 translate>{{pageTitle}}</h2>
                    <div class="close-modal-btn" (click)="openDialog($event)">
                        <i class="icon-close"></i>
                    </div>
                </div>
                <div class="body-modal-box">
                    <div class="warning-message">{{'FORM.CONFIRMSAVETEXT' | translate}}</div>
                </div>
                <div class="footer-modal-box">
                    <div class="bottom-holder">
                        <span class="btn btn-cancel-black-outline" (click)="openDialog($event)">{{'FORM.CANCEL' | translate}}</span>
                        <button type="submit" class="btn btn-orange" [disabled]="traidingForm.invalid">
                            {{'FORM.ACCEPT' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
  